<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyDayData" connectionString="metadata=res://*/Data.MyDayData.csdl|res://*/Data.MyDayData.ssdl|res://*/Data.MyDayData.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\Temp\MyDay\MyDay\Bin\MyDayData.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>